/* TYPEFACE DECLARATION */
/* ------ start  ------ */

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url('assets-typeface-SFPRODISPLAYREGULAR.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    src: url('assets-typeface-SFPRODISPLAYMEDIUM.OTF') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url('assets-typeface-SFPRODISPLAYBOLD.OTF') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: italic;
    font-weight: 400;
    src: url('assets-typeface-SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: italic;
    font-weight: 500;
    src: url('assets-typeface-SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: italic;
    font-weight: 700;
    src: url('assets-typeface-SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
}

/* ------  end  ------- */
/* TYPEFACE DECLARATION */

:root {
    /* COLOR DECLARATION */
    --nesco-black: #1d1c21;
    --nesco-gray: #d3d3d4;
    --nesco-lightgray: #f1f3f6;
    --nesco-green: #18cba4;
    --nesco-blue: #02c0df;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'SF Pro Display';
}

.mg-0 {
    margin: 0;
}

.desc {
    font-size: 16;
}

.form {
    margin: 2rem 20rem;
    padding: 2rem;
    border: 0.25em solid var(--nesco-black);
    border-radius: 25px;
}

.button {
    border: 1em;
    height: 3rem;
    font-family: 'SF Pro Display';
    font-size: 1.2rem;
}

.action-button {
    width: 100%;
}
